<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Modificar Tabla: <%= tableName %></title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Modificar Tabla: <%= tableName %></h1>
  <form action="/agregar-campo" method="POST" class="modTabla">
    <input type="hidden" name="dbName" value="<%= dbName %>">
    <input type="hidden" name="tableName" value="<%= tableName %>">
    <h2>Agregar Campo</h2>
    <input type="text" id="campoNombre" name="campoNombre" required placeholder="Nombre del campo">
    <select id="campoTipo" name="campoTipo" required>
        <option value="INT">INT</option>
        <option value="DOUBLE">DOUBLE</option>
        <option value="TEXT">TEXT</option>
    </select>
    <button type="submit">Agregar Campo</button>
  </form>

  <form action="/borrar-campo" method="POST" class="modTabla">
    <input type="hidden" name="dbName" value="<%= dbName %>">
    <input type="hidden" name="tableName" value="<%= tableName %>">
    <h2>Eliminar Campo</h2>
    <select id="campoEliminar" name="campoNombre" required>
      <% columns.forEach(column => { %>
        <% if (column.Key !== 'PRI') { %>
          <option value="<%= column.Field %>"><%= column.Field %></option>
        <% } %>
      <% }); %>
    </select>
    <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este campo?');">Eliminar Campo</button>
  </form>

  <form action="/ver-db" method="GET" class="modTabla1">
    <input type="hidden" name="dbName" value="<%= dbName %>">
    <button type="submit">Volver a la Lista de Tablas</button>
  </form>
  <script src="/js/script.js"></script>
</body>
</html>
