<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Contenido de la Tabla: <%= tableName %> en <%= dbName %></title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
    .actions {
      display: flex;
      gap: 5px;
    }
  </style>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Contenido de la Tabla: <%= tableName %> en <%= dbName %></h1>
  <table>
    <thead>
      <tr>
        <% Object.keys(rows[0] || {}).forEach(column => { %>
          <th><%= column %></th>
        <% }) %>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% rows.forEach(row => { %>
        <tr>
          <% Object.values(row).forEach(value => { %>
            <td><%= value %></td>
          <% }) %>
          <td class="actions">
            <div class="container">
              <form action="/editar-registro" method="GET"  style="display:inline;">
                <input type="hidden" name="dbName" value="<%= dbName %>">
                <input type="hidden" name="tableName" value="<%= tableName %>">
                <input type="hidden" name="id" value="<%= row.id %>">
                <button type="submit">Editar</button>
              </form>
              <form action="/eliminar-registro" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?');"  style="display:inline;">
                <input type="hidden" name="dbName" value="<%= dbName %>">
                <input type="hidden" name="tableName" value="<%= tableName %>">
                <input type="hidden" name="id" value="<%= row.id %>">
                <button type="submit">Eliminar</button>
              </form>
            </div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <form action="/agregar-datos" method="GET" id="aggUsuario1"  style="display:inline;"  class="aggUsua">
    <input type="hidden" name="dbName" value="<%= dbName %>">
    <input type="hidden" name="tableName" value="<%= tableName %>">
    <button class="aggUsua1" type="submit">Agregar Usuario</button>
  </form>
</body>
</html>
